
@{
    ViewBag.Title = "ProjectCompleted";
    Layout = "~/Views/Shared/_UserMaster.cshtml";
    @* sweetalert *@
    <script src="~/Assets/sweetalert2-11.4.7/package/dist/sweetalert2.all.min.js"></script>

}

<h1 style="text-align: center; margin: 200px;"></h1>

