<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Manage</title>
    @* link css *@
    <link rel="stylesheet" href="~/Assets/css/Admin/AccountManage.css">



    @* link js admin *@
    <script type="text/javascript" src="@Request.Url.Scheme://@Request.Url.Host:44381/Scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        var domain = '@Request.Url.Scheme://@Request.Url.Host:44381';
    </script>

    <!-- bootstrap header, content -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- bootstrap footer -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    @* sweetalert *@
    <script src="~/Assets/sweetalert2-11.1.9/package/dist/sweetalert2.all.min.js"></script>
    <link href="~/Assets/sweetalert2-11.1.9/package/dist/sweetalert2.min.css" rel="stylesheet" />

</head>
<body>
    <!--------------------------------------------------------- HEADER ----------------------------------------------------------->
    <!-- Header of page -->
    <div id="header">
        <div class="header__top">
            <div class="header__left">
                <img class="header__logo" src="/Assets/img/logo.png" />
                <h1 class="header_name-logo">Waterfall Process Management</h1>
            </div>
            <div class="header__right">
                <div class="info-user">
                    <img src="https://pbs.twimg.com/profile_images/1444887714818527232/C000gSHW_400x400.jpg"
                         class="img-user">
                    <div class="info-people">
                        <h2 class="name-user">@ViewBag.User.MemberName</h2>
                        <h3 class="role-user">Admin</h3>
                    </div>
                </div>
                <div class="info__icon-logout" onclick="Logout()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>

    <!--------------------------------------------------------- FOOTER ----------------------------------------------------------->
    <div id="footer" class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Branches</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Phan Chu Trinh, Binh Thanh district, HCM City</a></li>
                                <li><a href="#">Tran Phu, Phu, Phuoc Ninh district, Da Nang City</a></li>
                                <li><a href="#">Mac Thai To, Yen Hoa distrcit, Ha Noi City</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Contact us</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Email: stscompany@gmail.com</a></li>
                                <li><a href="#">Phone: (+84)123654789</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Teams</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Nguyễn Quang Hiếu</a></li>
                                <li><a href="#">Nguyễn Hải</a></li>
                                <li><a href="#">Đặng Nguyễn Bảo Hoài</a></li>
                                <li><a href="#">Huỳnh Ngọc Long</a></li>
                                <li><a href="#">Nguyễn Trí</a></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2022 - Company STS. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- create pagination for job table -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js "></script>

    <script>
        $(document).ready(function () {
            $('#AccountTable').DataTable({
                ordering: false,
                searching: false,
                lengthMenu: [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
            });
        });

        const eye = document.querySelector(".eye");
        eye.addEventListener("click", eyeFunction)
        function eyeFunction() {
            const passwordjs = document.querySelector("#passwordInput");
            const hide1 = document.querySelector("#hide1");
            const hide2 = document.querySelector("#hide2");
            if (passwordjs.type === 'password') {
                passwordjs.type = 'text';
                hide1.style.display = 'block';
                hide2.style.display = 'none';
            }
            else {
                passwordjs.type = 'password';
                hide1.style.display = 'none';
                hide2.style.display = 'block';
            }
        }
    </script>

    @* scrip logout *@
    <script>
        function Logout() {
                Swal.fire({
                    title: 'Do you want to Logout?',
                    showCancelButton: true,
                    cancelButtonText: 'No',
                    confirmButtonText: 'Yes',
                    icon: 'question',
                    confirmButtonColor: '#457b9d',
                    cancelButtonColor: '#457b9d',
                    iconColor: '#457b9d',
                }).then((result) => {
                    if (result.isConfirmed) {
                        //tao request
                        var xhr = new XMLHttpRequest();
                        //goi request den ham xu ly backend
                        xhr.open("POST", domain + '/Authentication/Logout', true);
                        //xu ly status
                        xhr.onreadystatechange = function () {
                            //truong hop chay ok
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                //luu bien tra ve
                                var kq = xhr.responseText;
                                //gan ket qua do thanh 1 json
                                var js = JSON.parse(kq);
                                if (js.Data.status = "OK") {
                                    window.location = '/Authentication/Login';
                                }
                            }
                        }
                        xhr.send();
                    }
                })
            }
    </script>
</body>


</html>