
@{
    ViewBag.Title = "Development";
    Layout = "~/Views/Shared/_ProjectManageMaster.cshtml";
}

<h2>Development</h2>

<script>
    let error = `@ViewBag.error`
    if (error == '1') {
        alert('ban ko co quyen truy cap vao chuc nang ni')
    }

</script>
