
@{
    ViewBag.Title = "Testing";
    Layout = "~/Views/Shared/_ProjectManageMaster.cshtml";
}

<h2>Testing</h2>

<script>
    $(document).ready(function () {
        let error = `@ViewBag.error`
    if (error == '1') {
        alert('ban ko co quyen truy cap vao chuc nang ni')
    }
    });


</script>
