
@{
    ViewBag.Title = "TrackProgress";
    Layout = "~/Views/Shared/_UserProjectMaster.cshtml";
    @* sweetalert *@
    <script src="~/Assets/sweetalert2-11.4.7/package/dist/sweetalert2.all.min.js"></script>

}

<h2>TrackProgress</h2>

